@font-face {
    font-family: Starbeamer;
    src: url('../font/Starbeamer.ttf');
}
@font-face {
    font-family: GreatestShow;
    src: url('../font/GreatestShowRegular.ttf');
}
@font-face {
    font-family: Demure;
    src: url('../font/Demure.ttf');
}
@font-face {
    font-family: Abel;
    src: url('../font/Abel-Regular.ttf');
}
@font-face {
    font-family: Roboto-normal;
    src: url('../font/RobotoMono-normal.ttf');
}
@font-face {
    font-family: Roboto-thin;
    src: url('../font/RobotoMono-Thin.ttf');
}
