@font-face {
    font-family: Starbeamer;
    src: url('../font/Starbeamer.ttf');
}
@font-face {
    font-family: GreatestShow;
    src: url('../font/GreatestShowRegular.ttf');
}
@font-face {
    font-family: Demure;
    src: url('../font/Demure.ttf');
}
