@import url('../css/font.css');
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: "Helvetica";
      background-color: #f5f5f5 !important;
}
section{
      display: block;
      width: 100%;
      height: 100%;
}
a{
      text-decoration: none;
      color: #000000;
}     
  
  /*-------------------Project Menu --------------------------------*/

.gradient-text{
      background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
      background-position: 58% 50%;
      background-size: 500%;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-animation: gradient-shift 20s ease infinite;
      animation: gradient-shift 30s ease infinite;
      -webkit-text-fill-color: transparent;
}
.grid-layout{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 500px);
      grid-template-areas: 
      "box1 box1"
      "box2 .";
      padding-left: 5rem;
      padding-right: 5rem;
      grid-gap: 30px;
}
.box{
      display: block;
      position: relative;
      font-size: 2.2rem;
      box-sizing: border-box;
      border-radius: 25px;
      padding: 1.2rem;
}
.element{
      padding: 1rem;
      max-width: 800px;
}
.element h3{
      font-size: 1rem;
      font-weight: lighter;
      margin-block-end: 0em;
      font-family: "Abel";
      color: grey;
}
.element p{
      color: grey;
      font-size: 1.2rem;
      margin-block-start: 0em;
}
.project{
      grid-area: box1;
      background: #121212;
}
.project1{
      grid-area: box2;
      background-color: #121212;
}
@keyframes gradient-shift{
      0% {
            background-position: 58% 50%;
        }
        25% {
            background-position: 100% 0%;
        }
        75% {
            background-position: 10% 50%;
        }
        100% {
            background-position: 58% 50%;
        }
}
/*-------------------Navigation Menu --------------------------------*/


/* <-----------------hero-section------------------> */
.wrapper{
      width: 100%;
      height: 100vh;
}
.heading{
      display: block;
      position: fixed;
      padding: 1.2rem 9rem;
      font-family: "Abel";
      font-size: 1.2rem;
      letter-spacing: 3px;
      overflow: hidden;
      margin-block-end: 0em;
      font-weight: normal;
}
.heading p{
      font-size: 0.6rem;
      font-weight: lighter;
      letter-spacing: 3.5px;
      margin-block-start: 0em;
      color: #000000;
}
.header h1{
      text-align: center;
      font-family: "Roboto-thin";
      font-size: 2.5rem;
      font-weight: 100 !important;
}
.line{
      position: absolute;
      width: 24em;
      top: 50%;
      left: 50%;
      margin: auto;
      border-right: 2px solid #000000;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translate(-50%,-50%);
}
.anim-typewriter{
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
      from{
            width: 0;
      }
      to{
            width: 14em;
      }
}
@keyframes blinkTextCussor {
      from {
            border-right-color: #000000;
      }
      to {
            border-right-color: transparent;
      }
}

@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 14em;
            }
      }
      .heading h1, .heading p{
            justify-content: center;
      }
      .header h1 {
            font-size: 26px;
      }
      .nav{
            margin-top: 20%;
      }
      .contact{
            display: none;
      }
      .element h1{
            font-size: 26px;
      }
      .grid-layout{
            grid-template-rows: repeat(3, 300px);
            justify-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            grid-gap: 10px;
      }
}
@media(max-width: 426px) {
      .grid-layout{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 300px);
            grid-template-areas: 
            "box1"
            "box2";
            justify-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
            grid-row-gap: 10px;
      }
}